body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calc-body{
    border: 1px solid black;
    padding: 10px;
}

.calc-screen{
    display: flex;
    align-items: center;
    border:1px solid black;
    height:150px;
    font-size: 50px;
}


.calc-delete{
    grid-column-start: 3;
    grid-column-end: 5;
}

.calc-container{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-auto-rows: 75px;
}

.calc-func-container{
    display: flex;
    height: 75px;
    justify-content: space-around;

}

.calc-button{
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-function{
    flex: 1;
}

p {
    font-size: 30px;
}


